.component-nav-bar__container {
  z-index: 99;
  height: 48px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #00c9e2;
}

.icon-back {
  color: #ffffff;
  font-size: 18px !important;
  font-weight: bold;
}

.cnb__title {
  flex: 1;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold; 
}

.placeholder {
  width: 18px;
  height: 18px;
}