.component-calendar__container {
  width: 100%;
  background-color: #eeeeee;
}

.ccc-week-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-around;
  font-size: 12px;
  padding: 8px 0px;

  .week-day {
    color: #00c9e2;
  }
}

.ccc-month-bar {
  margin-top: 20px;
  background-color: #ffffff;

  .title {
    font-size: 14px;
    padding: 15px;
    text-align: center;
  }

  .day-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    > span {
      width: 45px;
      height: 50px;
      display: flex;
      font-size: 13px;
      color: #616161;
      align-items: center;
      justify-content: center;
      &.today {
        color: #ffffff;
        border-radius: 5px;
        background-color: #00c9e2;
      }
      &.active {
        color: #ffffff;
        border-radius: 5px;
        background-color:#0da532;
      }      
      &.disable {
        color: #bdbdbd;
      }      
    }
  }
}